<h2>About</h2>
<p>
  Currently, I am a consultant software developer at <a href="http://www.thoughtworks.com/" target="_blank">ThoughtWorks</a> and love what I do. I started this blog to spread the knowledge I am gaining–any gotchas I run into to–to give back to the internet community that I myself make use of so often. I hope this helps somebody!
</p>
<p>
  I am actively working on improving and adding on to this blog site so I hope you're as excited as I am for new features and improvements. You can find upcoming features <a href="https://trello.com/b/1QdDZVPw/my-blog" target="_blank">here</a> and can even check out if the builds are going green <a href="https://snap-ci.com/MarinaMurashev/blog/branch/master" target="_blank">here</a>. The code for building this exact site is freely available at my github, and you're welcome to use it to create your own blog if you'd like to spread your own knowledge throughout the web: <a href="https://github.com/MarinaMurashev/blog" target="_blank">github.com/MarinaMurashev/blog</a>.
</p>
<p>
  Feel free to follow me or see what I'm up to on twitter <a href="https://twitter.com/MarinaMurashev" target="_blank">@MarinaMurashev</a>
</p>
