<h2>About</h2>
<p>
  I am currently a consultant software developer at <a href="http://www.thoughtworks.com/" target="_blank">ThoughtWorks</a> and love what I do. I started this blog to spread the knowledge I am gaining--any gotchas I run into to--to give back to the internet community that I myself make use of so often. I hope this helps somebody!
</p>
<p>
  Feel free to follow me on twitter <a href="https://twitter.com/MarinaMurashev" target="_blank">@MarinaMurashev</a>
</p>
