- @posts.each do |post|
  %h3.text-left= link_to post.title, post_path(post.id)
  %h5.text-left Posted on: #{post.created_at.strftime("%B %-d, %Y")}
  %p.text-left #{markdown(post.body.split(Post::PREVIEW_BREAK).first)}...
