<% @posts.each do |post| %>
  <h3 class="text-left"><%= link_to post.title, post_path(post.id) %></h3>
  <h5 class="text-left">Posted on: <%= post.created_at.strftime("%B %-d, %Y") %></h4>
  <p class="text-left"><%= markdown(post.body.split(Post::PREVIEW_BREAK).first)%>...</p>
<% end %>
