<% @posts.each do |post| %>
  <h3 class="text-left"><%= link_to post.title, post_path(post.id) %></h3>
  <p class="text-left"><%= markdown(truncate(post.body, length: 1000, separator: ' ')) %></p>
<% end %>
