<%= link_to("Edit", edit_post_path(@post.id)) if user_signed_in? %>
<%= link_to("Delete", post_path(@post.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?'}) if user_signed_in? %>
<h2 class="text-left"><%= @post.title %></h2>
<p class="text-left"><%= markdown @post.body %></p>
